<div class="container text-container">
  <div class="row text">
    <p>SEYDI CHEIKHOU WAGUE</p>
  </div>
</div>

<div class="container mt-5">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Dicta assumenda maiores cumque consequatur atque architecto,
    facere modi dolor dignissimos ducimus voluptatem, tenetur, repudiandae nemo alias?
    Quas libero tenetur earum iusto quasi modi illo asperiores aspernatur blanditiis voluptatem, velit,
    ducimus eius animi nostrum quo deleniti sit delectus molestiae nulla in, exercitationem eveniet sint sed ratione?
    Voluptates officiis veniam eaque tempore. Mollitia ullam dolorum, laudantium in totam incidunt non ad dicta est iure
    dolorem dolor quam odio veritatis, quo alias deserunt. Illo omnis eius eum laboriosam neque accusantium odit? Modi, dolorem?
    Optio, nemo. Sunt debitis quos perferendis, temporibus quidem vel corrupti incidunt!
  </p>
</div>
